h1 {
  text-align: start;
  color:brown;
  margin-left: 105px;
  font-size: 40px;
  margin-top:50px;
  margin-bottom: 40px;
}
.navbar ul {
  list-style-type: none;
  background-color: brown;
  padding: 5px;
  margin-bottom: 2px;
  box-sizing: border-box;
  overflow:hidden;
  cursor:pointer;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:5px;
    display:block;
    text-align:center;
    margin-bottom: none;
}
.navbar a:hover{
    background-color: blue;
}
.navbar li{
    float:left;
    font-size: 27px;
    box-sizing: border-box;;
    padding: 5px;
}
.nav-right{
  text-align:end;
  padding:2px;
}
.primary-btn{
   background-color: brown;
  color:white;
  overflow:hidden;
  border:none;
  font-size:27px;
  box-sizing: border-box;
  transition:0.3s ease;
}
.logo img{
  position: absolute;
  margin-top: none;
  margin-right: 20px;
  margin-left: none;
}

*{
  margin:3px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Arial",sans-serif;
}
.heading{
  background-color:#007bff;
  text-align: center;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom:20px;
  color:white;
}
.work{
  display:flex;
  justify-content: center;
  align-items: center;
  width:90;
  margin:65px,auto;
}
.work-content{
  flex:1;
  width:600px;
  margin:0px,25px;
}
.work-content h3{
  font-size: 38px;
  margin-left: 10px;
  margin-bottom: 20px;
  color:black;
}
.work-content p{
  font-size: 24px;
  margin-left: 10px;
  line-height:1.5;
  margin-bottom:40px;
  color:#666;
}
.work-content button{
  display:inline-block;
  background-color: darkorange;
  color:#fff;
  padding:12px 24px;
  border-radius: 5px;
  font-size:20px;
  border:none;
  cursor:pointer;
  transition:0.3s ease;
}
.work-content button:hover{
  background-color: #ff6347;
  transform: scale(1.1);
}
.work-image1{
  flex:1;
  width:600px;
  margin:auto;
}
@media screen and (max-width: 768px) {
  .heading h1{
    font-size:45px;
    margin-top:30px;
  }
  .heor{
    margin:0px;
  }
  .work{
    width:100%;
    flex-direction:column;
    margin:0px;
    padding:0px 40px;
  }
  .work-content{
    width:100%;
    margin:35px 0px;
  }
  .work-content h3{
    font-size:30px;
  }
   .work-content p{
    font-size:18px;
    margin-bottom:20px;
  }
  .work-content button{
    font-size:16px;
    padding:8px 16px;
  }
  .work-image{
    width:100%;

  }
  
  
}